In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
624,tt0499448,225000000,419651413,The Chronicles of Narnia: Prince Caspian,Ben Barnes|William Moseley|Anna Popplewell|Ska...,Andrew Adamson,Hope has a new face.,One year after their incredible adventures in ...,150,Adventure|Family|Fantasy,Walt Disney|Walden Media|Stillking Films|Ozumi...,5/15/2008,6.1,2008
487,tt1226273,80000000,74901339,Edge of Darkness,Mel Gibson|Ray Winstone|Danny Huston|Shawn Rob...,Martin Campbell,Some secrets take us to the edge.,"As a seasoned homicide detective, Thomas Crave...",117,Crime|Drama|Mystery|Thriller,Icon Productions|BBC Films|GK Films|Warner Bros.,1/29/2010,6.0,2010
754,tt1436562,90000000,484635760,Rio,Jesse Eisenberg|Anne Hathaway|Leslie Mann|Jane...,Carlos Saldanha,1 out of every 8 Americans is afraid of flying...,Captured by smugglers when he was just a hatch...,96,Animation|Adventure|Comedy|Family,Blue Sky Studios|Twentieth Century Fox Animation,4/3/2011,6.5,2011
420,tt1216492,19000000,29922472,Leap Year,Amy Adams|Matthew Goode|Adam Scott|John Lithgo...,Anand Tucker,Anna planned to propose to her boyfriend on Fe...,When yet another anniversary passes without a ...,100,Romance|Comedy,Universal Pictures|Spyglass Entertainment|Octa...,1/8/2010,6.3,2010
1087,tt0266543,94000000,864625978,Finding Nemo,Albert Brooks|Ellen DeGeneres|Alexander Gould|...,Andrew Stanton|Lee Unkrich,"There are 3.7 trillion fish in the ocean, they...",A tale which follows the comedic and eventful ...,100,Animation|Family,Walt Disney Pictures|Pixar Animation Studios|D...,5/30/2003,7.4,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов


# Setting some Pandas params for easier work
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_rows', 50)


## Function that returns short name of the month and full name of the season by month number
# or full name of the season by short name of the month
# or list of short month names by season full name
def month_and_season(inp):
    months = [
        ["Jan", "winter"],
        ["Feb", "winter"],
        ["Mar", "spring"],
        ["Apr", "spring"],
        ["May", "spring"],
        ["Jun", "summer"],
        ["Jul", "summer"],
        ["Aug", "summer"],
        ["Sep", "autumn"],
        ["Oct", "autumn"],
        ["Nov", "autumn"],
        ["Dec", "winter"]
    ]
    if isinstance(inp, int):
        return months[inp-1]
    else:
        # Trying to find the month
        for item in months:
            if item[0]==inp:
                # returning name of the season
                return item[1]
        # if mnum is not a short month name, we probably got a season name ->
        # find all names of the months for the season
        season_months = []
        for item in months:
            if item[1]==inp:
                # adding month short name to the list to return
                season_months.append(item[0])
        return season_months


# Creating additional columns I'll need later
data["profit"] = data.revenue - data.budget
data["profitable"] = data.profit.apply(lambda x: x>0)
data["original_title_charnum"] = data.original_title.apply(lambda x: len(x))
data["overview_wordnum"] = data.overview.apply(lambda x: len(x.split(" ")))
data["genres_str"] = data.genres
data.genres = data.genres.apply(lambda x: x.split("|"))
data["director_str"] = data.director
data.director = data.director.apply(lambda x: x.split("|"))
data["cast_str"] = data.cast
data.cast = data.cast.apply(lambda x: x.split("|"))
data["production_companies_str"] = data.production_companies
data.production_companies = data.production_companies.apply(lambda x: x.split("|"))

# One way to extract month
data["release_month"] = data.release_date.apply(lambda x: month_and_season(int(x.split("/")[0]))[0])

data["release_date"] = pd.to_datetime(data["release_date"])

# Another way to extract month (working with dates, rather than strings):
from datetime import datetime as dt
data["release_month"] = data["release_date"].dt.month.apply(lambda x: month_and_season(x)[0])

data["release_season"] = data["release_month"].apply(lambda x: month_and_season(x)[1])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'

# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, Ian McShane, Kevin McNally]",[Rob Marshall],Live Forever Or Die Trying.,"Captain Jack Sparrow crosses paths with a woman from his past, and he's not sure if it's love -- or if she's a ruthless con artist who's using him to find the fabled Fountain of Youth. When she forces him aboard the Queen Anne's Revenge, the ship of the formidable pirate Blackbeard, Jack finds himself on an unexpected adventure in which he doesn't know who to fear more: Blackbeard or the woman from his past.",136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films, Moving Picture Company (MPC)]",2011-05-11,6.3,2011,641683000,True,43,75,Adventure|Action|Fantasy,Rob Marshall,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian McShane|Kevin McNally,Walt Disney Pictures|Jerry Bruckheimer Films|Moving Picture Company (MPC),May,p

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(by="budget", ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, Ian McShane, Kevin McNally]",[Rob Marshall],Live Forever Or Die Trying.,"Captain Jack Sparrow crosses paths with a woman from his past, and he's not sure if it's love -- or if she's a ruthless con artist who's using him to find the fabled Fountain of Youth. When she forces him aboard the Queen Anne's Revenge, the ship of the formidable pirate Blackbeard, Jack finds himself on an unexpected adventure in which he doesn't know who to fear more: Blackbeard or the woman from his past.",136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films, Moving Picture Company (MPC)]",2011-05-11,6.3,2011,641683000,True,43,75,Adventure|Action|Fantasy,Rob Marshall,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian McShane|Kevin McNally,Walt Disney Pictures|Jerry Bruckheimer Films|Moving Picture Company (MPC),May,p
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, Geoffrey Rush, Bill Nighy]",[Gore Verbinski],"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with brave Will Turner and feisty Elizabeth Swann. And what of Jack Sparrow? Nothing is as it seems.",169,"[Adventure, Fantasy, Action]","[Walt Disney Pictures, Jerry Bruckheimer Films, Second Mate Productions]",2007-05-19,6.8,2007,661000000,True,40,39,Adventure|Fantasy|Action,Gore Verbinski,Johnny Depp|Orlando Bloom|Keira Knightley|Geoffrey Rush|Bill Nighy,Walt Disney Pictures|Jerry Bruckheimer Films|Second Mate Productions,May,p
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,"[Robert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans, Scarlett Johansson]",[Joss Whedon],A New Age Has Come.,"When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earthâ€™s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.",141,"[Action, Adventure, Science Fiction]","[Marvel Studios, Prime Focus, Revolution Sun Studios]",2015-04-22,7.4,2015,1125035767,True,23,69,Action|Adventure|Science Fiction,Joss Whedon,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo|Chris Evans|Scarlett Johansson,Marvel Studios|Prime Focus|Revolution Sun Studios,Apr,p
1014,tt0401729,260000000,284139100,John Carter,"[Taylor Kitsch, Lynn Collins, Mark Strong, Willem Dafoe, CiarÃ¡n Hinds]",[Andrew Stanton],Lost in Our World. Found in Another.,"Civil War vet John Carter is transplanted to Mars, where he discovers a lush, wildly diverse planet whose main inhabitants are 12-foot tall green barbarians. Finding himself a prisoner of these creatures, he escapes, only to encounter Dejah Thoris, Princess of Helium, who is in desperate need of a savior.",132,"[Action, Adventure, Fantasy, Science Fiction]",[Walt Disney Pictures],2012-03-07,6.0,2012,24139100,True,11,50,Action|Adventure|Fantasy|Science Fiction,Andrew Stanton,Taylor Kitsch|Lynn Collins|Mark Strong|Willem Dafoe|CiarÃ¡n Hinds,Walt Disney Pictures,Mar,p
380,tt0398286,260000000,591794936,Tangled,"[Zachary Levi, Mandy Moore, Donna Murphy, Ron Perlman, M.C. Gainey]","[Nathan Greno, Byron Howard]",They're taking adventure to new lengths.,"When the kingdom's most wanted-and most charming-bandit Flynn Rider hides out in a mysterious tower, he's taken hostage by Rapunzel, a beautiful and feisty tower-bound teen with 70 feet of magical, golden hair. Flynn's curious captor, who's looking for her ticket out of the tower where she's been locked away for years, strikes a deal with the handsome thief and the unlikely duo sets off on an action-packed escapade, complete with a super-cop horse, an over-protective chameleon and a gruff gang of pub thugs.",100,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation Studios]",2010-11-24,7.3,2010,331794936,True,7,84,Animation|Family,Nathan Greno|Byron Howard,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perlman|M.C. Gainey,Walt Disney Pictures|Walt Disney Animation Studios,Nov,u
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,tt0283111,5000000,38275483,National Lampoonâ€™s Van Wilder,"[Ryan Reynolds, Tara Reid, Tim Matheson, Kal Penn, Simon Helberg]",[Walt Becker],Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popular student who has been at Coolidge College for seven years. For the past three years he has made no effort to graduate, instead spending his time organizing parties, helping other students, and posing for figure drawing classes. But after seven years, with no return on his investment, Van's father decides it is time to stop paying Van's tuition.",92,"[Comedy, Romance]","[Tapestry Films, Artisan Entertainment]",2002-03-29,5.9,2002,33275483,True,31,66,Comedy|Romance,Walt Becker,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|Simon Helberg,Tapestry Films|Artisan Entertainment,Mar,p
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,"[Nia Vardalos, John Corbett, Lainie Kazan, Michael Constantine, Andrea Martin]",[Joel Zwick],Love is here to stay... so is her family.,A young Greek woman falls in love with a non-Greek and struggles to get her family to accept him while she comes to terms with her heritage and cultural identity.,95,"[Comedy, Drama, Romance]","[MPH Entertainment, Playtone Productions, Gold Circle Films]",2002-02-22,6.1,2002,363744044,True,24,30,Comedy|Drama|Romance,Joel Zwick,Nia Vardalos|John Corbett|Lainie Kazan|Michael Constantine|Andrea Martin,MPH Entertainment|Playtone Productions|Gold Circle Films,Feb,i
1071,tt2109184,5000000,142817992,Paranormal Activity 4,"[Katie Featherston, Kathryn Newton, Matt Shively, Brady Allen, Sprague Grayden]","[Henry Joost, Ariel Schulman]",It's closer than you think,"It has been five years since the disappearance of Katie and Hunter, and a suburban family witness strange events in their neighborhood when a woman and a mysterious child move in.",95,[Horror],"[Paramount Pictures, Blumhouse Productions, Room 101, Solana Films]",2012-10-17,5.3,2012,137817992,True,21,31,Horror,Henry Joost|Ariel Schulman,Katie Featherston|Kathryn Newton|Matt Shively|Brady Allen|Sprague Grayden,Paramount Pictures|Blumhouse Productions|Room 101|Solana Films,Oct,u
911,tt0322802,5000000,64282312,Jackass: The Movie,"[Johnny Knoxville, Bam Margera, Steve-O, Chris Pontius, Dave England]",[Jeff Tremaine],Do not attempt this at home.,"Johnny Knoxville and his crazy friends appear on the big screen for the very first time in Jackass: The Movie. They wander around Japan in panda outfits, wreak havoc on a once civilized golf course, they even do stunts involving LIVE alligators, and so on. While Johnny Knoxvile and his pals put their life at risk, they are entertaining people at the same time. Get ready for Jackass: The Movie!!",87,[Comedy],[Paramount Pictures],2002-10-21,6.2,2002,59282312,True,18,70,Comedy,Jeff Tremaine,Johnny Knoxville|Bam Margera|Steve-O|Chris Pontius|Dave England,Paramount Pictures,Oct,u
1216,tt2101441,5000000,31724284,Spring Breakers,"[James Franco, Selena Gomez, Vanessa Hudgens, Ashley Benson, Rachel Korine]",[Harmony Korine],A little sun can bring out your dark side.,"After four college girls rob a restaurant to fund their spring break in Florida, they get entangled with a weird dude with his own criminal agenda.",94,"[Drama, Crime]","[RabbitBandini Productions, Division Films, Pop Films, Radar Pictures, Muse Productions]",2013-01-24,5.0,2013,26724284,True,15,26,Drama|Crime,Harmony Korine,James Franco|Selena Gomez|Vanessa Hudgens|Ashley Benson|Rachel Korine,RabbitBandini Productions|Division Films|Pop Films|Radar Pictures|Muse Productions,Jan,i

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Kevin Conway, C. Thomas Howell]",[Ronald F. Maxwell],The nations heart was touched by...,"The film centers mostly around the personal and professional life of Thomas ""Stonewall"" Jackson, a brilliant if eccentric Confederate general, from the outbreak of the American Civil War until its halfway point when Jackson is killed accidentally by his own soldiers in May 1863 during his greatest victory.",214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2003-02-21,5.8,2003,-43076064,False,17,48,Drama|History|War,Ronald F. Maxwell,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin Conway|C. Thomas Howell,Turner Pictures|Antietam Filmworks,Feb,i

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud Luckey, Craig Ferguson]","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, Winnie the Pooh sets out to find some honey. Misinterpreting a note from Christopher Robin, Pooh convinces Tigger, Rabbit, Piglet, Owl, Kanga, Roo, and Eeyore that their young friend has been captured by a creature named ""Backson"" and they set out to save him.",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation Studios]",2011-04-13,6.8,2011,-15540000,False,15,52,Animation|Family,Stephen Anderson|Don Hall,Jim Cummings|Travis Oates|Jim Cummings|Bud Luckey|Craig Ferguson,Walt Disney Pictures|Walt Disney Animation Studios,Apr,p

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = 110

data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = 107

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver, Stephen Lang, Michelle Rodriguez]",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fox Film Corporation, Dune Entertainment, Lightstorm Entertainment]",2009-12-10,7.1,2009,2544505847,True,6,28,Action|Adventure|Fantasy|Science Fiction,James Cameron,Sam Worthington|Zoe Saldana|Sigourney Weaver|Stephen Lang|Michelle Rodriguez,Ingenious Film Partners|Twentieth Century Fox Film Corporation|Dune Entertainment|Lightstorm Entertainment,Dec,i

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = 'The Lone Ranger (tt1210819)'

data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, Helena Bonham Carter, James Badge Dale]",[Gore Verbinski],Never Take Off the Mask,"The Texas Rangers chase down a gang of outlaws led by Butch Cavendish, but the gang ambushes the Rangers, seemingly killing them all. One survivor is found, however, by an American Indian named Tonto, who nurses him back to health. The Ranger, donning a mask and riding a white stallion named Silver, teams up with Tonto to bring the unscrupulous gang and others of that ilk to justice.",149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films, Infinitum Nihil, Silver Bullet Productions (II), Blind Wink Productions]",2013-07-03,6.0,2013,-165710090,False,15,68,Action|Adventure|Western,Gore Verbinski,Johnny Depp|Armie Hammer|William Fichtner|Helena Bonham Carter|James Badge Dale,Walt Disney Pictures|Jerry Bruckheimer Films|Infinitum Nihil|Silver Bullet Productions (II)|Blind Wink Productions,Jul,u

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = 1478

# solution 1
len(data[data.revenue>data.budget].index)

# solution 2
data[data.revenue>data.budget].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = 'The Dark Knight (tt0468569)'

# Solution 1
data[data.release_year==2008].sort_values(by="revenue", ascending=False)

# Solution 2
data[data.release_year==2008].query('revenue==revenue.max()', engine='python')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, Aaron Eckhart, Gary Oldman]",[Christopher Nolan],Why So Serious?,"Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.",152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., Syncopy]",2008-07-16,8.1,2008,816921825,True,15,67,Drama|Action|Crime|Thriller,Christopher Nolan,Christian Bale|Michael Caine|Heath Ledger|Aaron Eckhart|Gary Oldman,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,Jul,u

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = 'The Lone Ranger (tt1210819)'

data.query("2012<=release_year<=2014").sort_values(by="profit")

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, Helena Bonham Carter, James Badge Dale]",[Gore Verbinski],Never Take Off the Mask,"The Texas Rangers chase down a gang of outlaws led by Butch Cavendish, but the gang ambushes the Rangers, seemingly killing them all. One survivor is found, however, by an American Indian named Tonto, who nurses him back to health. The Ranger, donning a mask and riding a white stallion named Silver, teams up with Tonto to bring the unscrupulous gang and others of that ilk to justice.",149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films, Infinitum Nihil, Silver Bullet Productions (II), Blind Wink Productions]",2013-07-03,6.0,2013,-165710090,False,15,68,Action|Adventure|Western,Gore Verbinski,Johnny Depp|Armie Hammer|William Fichtner|Helena Bonham Carter|James Badge Dale,Walt Disney Pictures|Jerry Bruckheimer Films|Infinitum Nihil|Silver Bullet Productions (II)|Blind Wink Productions,Jul,u
1214,tt0790736,130000000,61648500,R.I.P.D.,"[Jeff Bridges, Ryan Reynolds, Kevin Bacon, Stephanie Szostak, Mary-Louise Parker]",[Robert Schwentke],To protect and serve the living,A recently slain cop joins a team of undead police officers working for the Rest in Peace Department and tries to find the man who murdered him. Based on the comic by Peter M. Lenkov.,96,"[Fantasy, Action, Comedy, Crime]","[Universal Pictures, Original Film, Dark Horse Entertainment]",2013-07-18,5.3,2013,-68351500,False,8,35,Fantasy|Action|Comedy|Crime,Robert Schwentke,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephanie Szostak|Mary-Louise Parker,Universal Pictures|Original Film|Dark Horse Entertainment,Jul,u
1007,tt1374992,60000000,8106475,Upside Down,"[Kirsten Dunst, Jim Sturgess, Timothy Spall, James Kidnie, Heidi Hawkins]",[Juan Diego Solanas],Two worlds. One future.,"In an alternate universe where twinned worlds have opposite gravities, a young man battles interplanetary prejudice and the laws of physics in his quest to reunite with the long-lost girl of his dreams in this visually stunning romantic adventure that poses the question: what if love was stronger than gravity?",104,"[Romance, Science Fiction, Drama, Fantasy]","[Onyx Films, Studio 37, Jouror Productions, France 2 CinÃ©ma, Transfilm]",2012-09-27,6.1,2012,-51893525,False,11,50,Romance|Science Fiction|Drama|Fantasy,Juan Diego Solanas,Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins,Onyx Films|Studio 37|Jouror Productions|France 2 CinÃ©ma|Transfilm,Sep,u
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,"[Lea Michele, Dan Aykroyd, Patrick Stewart, Hugh Dancy, Jim Belushi]",[Dan St. Pierre],There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only to be whisked back to Oz to try to save her old friends the Scarecrow, the Lion, the Tin Man and Glinda from a devious new villain, the Jester. Wiser the owl, Marshal Mallow, China Princess and Tugg the tugboat join Dorothy on her latest magical journey through the colorful landscape of Oz to restore order and happiness to Emerald City.",88,"[Animation, Music, Family]","[Prana Animation Studios, Summertime Entertainment]",2013-06-13,6.1,2013,-51337973,False,31,68,Animation|Music|Family,Dan St. Pierre,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh Dancy|Jim Belushi,Prana Animation Studios|Summertime Entertainment,Jun,u
1235,tt1308729,55000000,9489829,Bullet to the Head,"[Sylvester Stallone, Sung Kang, Sarah Shahi, Adewale Akinnuoye-Agbaje, Jason Momoa]",[Walter Hill],Revenge Never Gets Old.,"After watching their respective partners die, a cop and a hitman form an alliance in order to bring down their common enemy.",92,"[Action, Crime, Thriller]","[Dark Castle Entertainment, After Dark Films, IM Global, Automatik Entertainment, Silver Reel]",2013-01-31,5.2,2013,-45510171,False,18,22,Action|Crime|Thriller,Walter Hill,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewale Akinnuoye-Agbaje|Jason Momoa,Dark Castle Entertainment|After Dark Films|IM Global|Automatik Entertainment|Silver Reel,Jan,i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,"[Steve Carell, Kristen Wiig, Benjamin Bratt, Miranda Cosgrove, Russell Brand]","[Pierre Coffin, Chris Renaud]",Back 2 Work,Gru is recruited by the Anti-Villain League to help deal with a powerful new super criminal.,98,"[Animation, Comedy, Family]","[Universal Pictures, Illumination Entertainment]",2013-06-25,7.0,2013,894761885,True,15,16,Animation|Comedy|Family,Pierre Coffin|Chris Renaud,Steve Carell|Kristen Wiig|Benjamin Bratt|Miranda Cosgrove|Russell Brand,Universal Pictures|Illumination Entertainment,Jun,u
974,tt1074638,200000000,1108561013,Skyfall,"[Daniel Craig, Judi Dench, Javier Bardem, Ralph Fiennes, Naomie Harris]",[Sam Mendes],Think on your sins.,"When Bond's latest assignment goes gravely wrong and agents around the world are exposed, MI6 is attacked forcing M to relocate the agency. These events cause her authority and position to be challenged by Gareth Mallory, the new Chairman of the Intelligence and Security Committee. With MI6 now compromised from both inside and out, M is left with one ally she can trust: Bond. 007 takes to the shadows - aided only by field agent, Eve - following a trail to the mysterious Silva, whose lethal and hidden motives have yet to reveal themselves.",143,"[Action, Adventure, Thriller]",[Columbia Pictures],2012-10-25,6.8,2012,908561013,True,7,94,Action|Adventure|Thriller,Sam Mendes,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris,Columbia Pictures,Oct,u
1180,tt1300854,200000000,1215439994,Iron Man 3,"[Robert Downey Jr., Gwyneth Paltrow, Guy Pearce, Don Cheadle, Ben Kingsley]",[Shane Black],Unleash the power behind the armor.,"When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.",130,"[Action, Adventure, Science Fiction]",[Marvel Studios],2013-04-18,6.9,2013,1015439994,True,10,22,Action|Adventure|Science Fiction,Shane Black,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|Don Cheadle|Ben Kingsley,Marvel Studios,Apr,p
1177,tt2294629,150000000,1274219009,Frozen,"[Kristen Bell, Idina Menzel, Jonathan Groff, Josh Gad, Santino Fontana]","[Chris Buck, Jennifer Lee]",Only the act of true love will thaw a frozen heart.,"Young princess Anna of Arendelle dreams about finding true love at her sister Elsaâ€™s coronation. Fate takes her on a dangerous journey in an attempt to end the eternal winter that has fallen over the kingdom. She's accompanied by ice delivery man Kristoff, his reindeer Sven, and snowman Olaf. On an adventure where she will find out what friendship, courage, family, and true love really means.",102,"[Animation, Adventure, Family]","[Walt Disney Pictures, Walt Disney Animation Studios]",2013-11-27,7.5,2013,1124219009,True,6,66,Animation|Adventure|Family,Chris Buck|Jennifer Lee,Kristen Bell|Idina Menzel|Jonathan Groff|Josh Gad|Santino Fontana,Walt Disney Pictures|Walt Disney Animation Studios,Nov,u
970,tt0848228,220000000,1519557910,The Avengers,"[Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth, Scarlett Johansson]",[Joss Whedon],Some assembly required.,"When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!",143,"[Science Fiction, Action, Adventure]",[Marvel Studios],2012-04-25,7.3,2012,1299557910,True,12,47,Science Fiction|Action|Adventure,Joss Whedon,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson,Marvel Studios,Apr,p

# 11. Какого жанра фильмов больше всего?

In [38]:
answers['11'] = 'Drama'

# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале


"""
#### This was my first option. It worked fine, but very slow, so I dropped it.

# Dictionary of genres
genres = {
    genre: {}
    for line in list(data.genres)
    for genre in line.split("|")
}

# Creating additional columns in the dataframe, 1 for each genre and setting bool showing if the movie is of this genre
for genre in genres:
    # Creating columns of genres. This one is optional 
    data[genre] = data["genres"].apply(lambda x: genre if (genre in x) else "0")
    # If we haven't created columns of genres in the previous line,
    # ...we can use "data["genres"].apply(lambda x:genre in x).sum()" instead of "data[genre].sum()" below
    genres[genre]["movies_num"] = data[genre].sum()

# Showing our dictionary of genres sorted by number of movies descending
{genre: num for genre, num in sorted(genres.items(), key=lambda x: x[1]["movies_num"], reverse=True)}
"""


"""
Then I spent quite some time trying to use multiple indexes. Looked to me was the wrong way, so I cancelled it as well.
"""


# Then I found explode function, that did the job very well
data.explode('genres').groupby("genres").count().sort_values(by="imdb_id", ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season,actors_pairs
genres,,,,,,,,,,,,,,,,,,,,,,,,
Drama,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782,782
Comedy,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683,683
Thriller,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596,596
Action,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582,582
Adventure,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415,415
Crime,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315,315
Romance,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308,308
Family,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260,260
Science Fiction,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248,248
Fantasy,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222,222
Horror,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176,176
Mystery,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168
Animation,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139,139
Music,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64,64
History,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62,62
War,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58
Western,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
Documentary,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Foreign,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

ВАРИАНТ 2

In [19]:
# Another possible solution
data.explode('genres').groupby("genres").genres.value_counts().sort_values(ascending=False)

genres           genres
Drama            Drama              782
Comedy           Comedy             683
Thriller         Thriller           596
Action           Action             582
Adventure        Adventure          415
Crime            Crime              315
Romance          Romance            308
Family           Family             260
Science Fiction  Science Fiction    248
Fantasy          Fantasy            222
Horror           Horror             176
Mystery          Mystery            168
Animation        Animation          139
Music            Music               64
History          History             62
War              War                 58
Western          Western             19
Documentary      Documentary          8
Foreign          Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = 'Drama'

"""
# Add numbers of profitable movies for each of the genre to our dictionary
for genre in genres:
    genres[genre]["num_profitable"] = data.query('genres.str.contains("%s") and profit>0'%genre, engine='python').profit.count()

# Showing our dictionary of genres sorted by number of profitable movies descending
{genre: num for genre, num in sorted(genres.items(), key=lambda x: x[1]["num_profitable"], reverse=True)}
"""

data.explode('genres').groupby("genres").sum().sort_values(by="profitable", ascending=False)["profitable"]

genres
Drama              560.0
Comedy             551.0
Thriller           446.0
Action             444.0
Adventure          337.0
Romance            242.0
Crime              231.0
Family             226.0
Science Fiction    195.0
Fantasy            188.0
Horror             150.0
Animation          120.0
Mystery            119.0
Music               47.0
History             46.0
War                 41.0
Western             12.0
Documentary          7.0
Foreign              0.0
Name: profitable, dtype: float64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [39]:
answers['13'] = 'Peter Jackson'

"""
#### First try

# Checking if there are movies with multiple directors
data[data.director.str.contains("|",regex=False)]

# List of strings of directors (as in the dataframe)
directors_raw = list(data.director)
# Dictionary of directors
directors = {
    director: {}
    for line in directors_raw
    for director in line.split("|")
}

# Adding revenues of each of the directors to the dictionary
for director, director_data in directors.items():
    director_data["revenue"] = data[data.director.str.contains(director,regex=False)].revenue.sum()

# Showing our dictionary of directors sorted by revenue descending
{director: revenue for director, revenue in sorted(directors.items(), key=lambda x: x[1]["revenue"], reverse=True)}
"""


data.explode('director').groupby("director").sum().sort_values(by="revenue", ascending=False)["revenue"]

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = 'Robert Rodriguez'


"""
# Counting numbers of action movies for each of the directors
for director, director_data in directors.items():
    director_data["action_num"] = data[data.genres.str.contains("Action")&data.director.str.contains(director)].genres.count()

# Showing our dictionary of directors sorted by number of action movies directed
{director: action_num for director, action_num in sorted(directors.items(), key=lambda x: x[1]["action_num"], reverse=True)}
"""


data[data.genres_str.str.contains("Action")].explode('director').groupby("director").count().sort_values(by="imdb_id", ascending=False)["imdb_id"]

director
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Whitesell        1
Brian A Miller        1
Jon Amiel             1
Jon Avnet             1
Luis Mandoki          1
Name: imdb_id, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
answers['15'] = 'Chris Hemsworth'


"""
# List of strings of actors (as in the dataframe)
actors_raw = list(data.cast)
# Dictionary of directors
actors = {
    actor: {}
    for line in actors_raw
    for actor in line.split("|")
}

# Calculating revenues of the movies for each actor in 2012
for actor, actor_data in actors.items():
    actor_data["revenue_in_2012"] = data[(data.cast.str.contains(actor))&(data.release_year==2012)].revenue.sum()

# Showing our dictionary of actors sorted by revenues of the movies in 2012 
{actor: revenue_in_2012 for actor, revenue_in_2012 in sorted(actors.items(), key=lambda x: x[1]["revenue_in_2012"], reverse=True)}
"""


data[data.release_year==2012].explode("cast").groupby("cast").sum().sort_values(by="revenue", ascending=False)["revenue"]

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
answers['16'] = 'Matt Damon'


"""
# Counting high budget movies for each actor
for actor, actor_data in actors.items():
    actor_data["high_budget_num"] = data[(data.budget>data.budget.mean())&data.cast.str.contains(actor)].cast.count()

# Showing our dictionary of actors sorted by high_budget_num 
{actor: high_budget_num for actor, high_budget_num in sorted(actors.items(), key=lambda x: x[1]["high_budget_num"], reverse=True)}
"""


data[data.budget>data.budget.mean()].explode("cast").groupby("cast").count().sort_values(by="revenue", ascending=False)["revenue"]

cast
Matt Damon                 18
Adam Sandler               17
Angelina Jolie             16
Tom Cruise                 15
Eddie Murphy               15
                           ..
Jennifer Hudson             1
Jennifer Jason Leigh        1
Jennifer Saunders           1
Jennifer Tilly              1
Ã“lafur Darri Ã“lafsson     1
Name: revenue, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17'] = 'Action'


"""
actor = "Nicolas Cage"
data[data.cast.str.contains(actor)].genres

# Saving all the genres of the movies where Cage participated
actors[actor]["genres"] = {
    genre: data[data.cast.str.contains(actor)&data.genres.str.contains(genre)].cast.count()
    for line in list(data.genres)
    for genre in line.split("|")
}

actors[actor]["genres"]
"""


data[data.cast.apply(lambda x: "Nicolas Cage" in x)].explode("cast").explode("genres").groupby(["cast", "genres"]).count().sort_values(by="imdb_id", ascending=False)

                           imdb_id  budget  revenue  original_title  director  \
cast             genres
Nicolas Cage     Action         85      85       85              85        85
                 Thriller       75      75       75              75        75
                 Drama          60      60       60              60        60
                 Crime          50      50       50              50        50
                 Fantasy        40      40       40              40        40
...                            ...     ...      ...             ...       ...
Eva Mendes       Action          5       5        5               5         5
Ethan Hawke      Thriller        5       5        5               5         5
                 Drama           5       5        5               5         5
                 Crime           5       5        5               5         5
William Fichtner Thriller        5       5        5               5         5

                           tagline  overview  runtime  production_companies  \
cast             genres
Nicolas Cage     Action         85        85       85                    85
                 Thriller       75        75       75                    75
                 Drama          60        60       60                    60
                 Crime          50        50       50                    50
                 Fantasy        40        40       40                    40
...                            ...       ...      ...                   ...
Eva Mendes       Action          5         5        5                     5
Ethan Hawke      Thriller        5         5        5                     5
                 Drama           5         5        5                     5
                 Crime           5         5        5                     5
William Fichtner Thriller        5         5        5                     5

                           release_date  vote_average  release_year  profit  \
cast             genres
Nicolas Cage     Action              85            85            85      85
                 Thriller            75            75            75      75
                 Drama               60            60            60      60
                 Crime               50            50            50      50
                 Fantasy             40            40            40      40
...                                 ...           ...           ...     ...
Eva Mendes       Action               5             5             5       5
Ethan Hawke      Thriller             5             5             5       5
                 Drama                5             5             5       5
                 Crime                5             5             5       5
William Fichtner Thriller             5             5             5       5

                           profitable  original_title_charnum  \
cast             genres
Nicolas Cage     Action            85                      85
                 Thriller          75                      75
                 Drama             60                      60
                 Crime             50                      50
                 Fantasy           40                      40
...                               ...                     ...
Eva Mendes       Action             5                       5
Ethan Hawke      Thriller           5                       5
                 Drama              5                       5
                 Crime              5                       5
William Fichtner Thriller           5                       5

                           overview_wordnum  genres_str  director_str  \
cast             genres
Nicolas Cage     Action                  85          85            85
                 Thriller                75          75            75
                 Drama                   60          60            60
                 Crime                   50          50            50
                 Fantasy                 40          40            40
...                                     ...         ...           ...
Eva Mendes       Action                   5           5             5
Ethan Hawke      Thriller                 5           5             5
                 Drama                    5           5             5
                 Crime                    5           5             5
William Fichtner Thriller                 5           5             5

                           cast_str  production_companies_str  release_month  \
cast             genres
Nicolas Cage     Action          85                        85             85
                 Thriller        75                        75             75
                 Drama           60                        60             60
                 Crime           50                        50             50
                 Fantasy         40                        40             40
...                             ...                       ...            ...
Eva Mendes       Action           5                         5              5
Ethan Hawke      Thriller         5                         5              5
                 Drama            5                         5              5
                 Crime            5                         5              5
William Fichtner Thriller         5                         5              5

                           release_season
cast             genres
Nicolas Cage     Action                85
                 Thriller              75
                 Drama                 60
                 Crime                 50
                 Fantasy               40
...                                   ...
Eva Mendes       Action                 5
Ethan Hawke      Thriller               5
                 Drama                  5
                 Crime                  5
William Fichtner Thriller               5

[378 rows x 22 columns]

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

data[data.production_companies_str.str.contains("Paramount Pictures")].sort_values(by="profit")[['imdb_id','original_title','production_companies','profit']]

,imdb_id,original_title,production_companies,profit
925,tt0267626,K-19: The Widowmaker,"[Paramount Pictures, Intermedia Films, National Geographic Society, New Regency Pictures, Palomar Pictures (II)]",-64831034
1123,tt0300556,Timeline,"[Paramount Pictures, Donners' Company, Mutual Film Company, Cobalt Media Group, Artists Production Group (APG)]",-60519261
1722,tt0435705,Next,"[Paramount Pictures, Virtual Studios, Revolution Studios, Saturn Films, Broken Road Productions]",-51788987
1623,tt0375173,Alfie,"[Paramount Pictures, Patalex Productions]",-46604061
1631,tt0315297,Twisted,"[Paramount Pictures, Kopelson Entertainment, Harlequin Pictures, Intertainment AG, Blackout Productions Inc.]",-24805000
...,...,...,...,...
730,tt1229238,Mission: Impossible - Ghost Protocol,"[Paramount Pictures, Skydance Productions, Bad Robot, TC Productions, Revolution Sun Studios]",549713380
1738,tt0418279,Transformers,"[Paramount Pictures, DreamWorks SKG, Amblin Entertainment, Di Bonaventura Pictures, Platinum Dunes]",559709780
603,tt0367882,Indiana Jones and the Kingdom of the Crystal Skull,"[Lucasfilm, Paramount Pictures]",601636033
317,tt1055369,Transformers: Revenge of the Fallen,"[Paramount Pictures, DreamWorks SKG, Amblin Entertainment, Di Bonaventura Pictures, Platinum Dunes]",686297228
828,tt1399103,Transformers: Dark of the Moon,"[Paramount Pictures, Di Bonaventura Pictures, Hasbro, Indochina Productions]",928746996

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = 2015

data.groupby("release_year").sum().sort_values(by="revenue", ascending=False)

,budget,revenue,runtime,vote_average,profit,profitable,original_title_charnum,overview_wordnum
release_year,,,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,103.0,1601,5524
2014,7008050000,23405862953,13444,774.5,16397812953,101.0,1864,6360
2013,7970620000,23213799791,15039,846.9,15243179791,108.0,1925,6888
2012,7002000000,23079001687,12145,682.1,16077001687,87.0,1684,5909
2011,7946550531,22676791872,15355,868.5,14730241341,117.0,2199,7857
2010,7540000000,21071204961,13592,762.1,13531204961,99.0,1927,7681
2009,6838046652,20261791024,14187,800.2,13423744372,102.0,2012,6892
2008,6588900000,18252781990,12979,731.1,11663881990,94.0,1862,6478
2007,6596495000,18162406801,14305,809.3,11565911801,103.0,1948,6234
2004,6029250000,15663430720,12014,671.3,9634180720,81.0,1778,5779
2005,6327500000,15309425558,13387,733.5,8981925558,90.0,1861,6141
2006,6083965000,14775042320,13952,775.4,8691077320,94.0,1906,6071
2003,5117300000,14346123312,10623,574.4,9228823312,80.0,1551,4982
2002,5134000000,14136361487,11528,653.1,9002361487,77.0,1535,6021
2001,5067150000,13017764865,11284,619.8,7950614865,75.0,1485,5327
2000,4562700000,10664099805,9956,542.5,6101399805,67.0,1267,4859

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
answers['20'] = 2014

data[data.production_companies_str.str.contains("Warner Bros")].groupby("release_year").sum().sort_values(by="revenue", ascending=False)

,budget,revenue,runtime,vote_average,profit,profitable,original_title_charnum,overview_wordnum
release_year,,,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,10.0,176,672
2007,982000000,3183675217,1721,95.4,2201675217,12.0,273,818
2008,916000000,3050595031,1366,72.0,2134595031,10.0,149,514
2010,1034000000,3008712985,1421,79.6,1974712985,10.0,201,875
2011,974000000,2845393682,1248,68.3,1871393682,11.0,220,555
2003,890000000,2745493377,1085,56.7,1855493377,8.0,178,597
2009,915500000,2737954136,1305,67.9,1822454136,9.0,158,562
2004,1100000000,2731933725,1624,78.7,1631933725,10.0,194,760
2013,963500000,2599953400,1100,59.9,1636453400,9.0,114,711
2005,861000000,2412980298,1193,63.0,1551980298,9.0,170,582
2001,923000000,2266545668,1571,83.6,1343545668,8.0,222,768
2012,611500000,1869520056,579,30.0,1258020056,4.0,70,274
2002,680000000,1702709901,1281,70.6,1022709901,7.0,189,525
2015,820800003,1691168351,1358,75.9,870368348,10.0,137,602
2006,901000000,1521170743,1504,81.0,620170743,8.0,178,567
2000,572900000,1025531386,1333,68.0,452631386,6.0,162,546

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = 'September'

data.groupby("release_month").count().sort_values(by="director", ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_season
release_month,,,,,,,,,,,,,,,,,,,,,,,
Sep,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227
Dec,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190
Oct,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
Aug,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
Mar,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
Apr,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
Jun,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
Nov,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
Jul,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
May,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
Feb,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
Jan,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = 450

# Solution 1
data[data.release_month.isin(["Jun","Jul","Aug"])].imdb_id.count()
# Solution 2
data[data.release_month.isin(month_and_season("summer"))].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = "Peter Jackson"

### Solution 1
# Simple count, not taking into account that some movies have several directors (these movies won't be added to the sum when grouping simply by the value in "director")
data[data.release_month.isin(["Dec","Jan","Feb"])].groupby("director_str").count().sort_values(by="imdb_id", ascending=False)


"""
### Solution 2. Old path I didn't preceed taking
### Another option where we take into account that there can be more than 1 director.
### // looking ahead this didn't change the anaswr, though

# Adding numbers of winter movies for each of the directors to the dictionary
for director, director_data in directors.items():
    director_data["movies_in_winter"] = data[data.director.str.contains(director,regex=False)&data.release_month.isin(["Dec","Jan","Feb"])].imdb_id.count() #

# Showing our dictionary of directors sorted by number of movies released in winter
{director: movies_in_winter for director, movies_in_winter in sorted(directors.items(), key=lambda x: x[1]["movies_in_winter"], reverse=True)}
"""


### Solution 3
data[data.release_month.isin(month_and_season("winter"))].explode("director").groupby("director").count().sort_values(by="imdb_id", ascending=False)

,imdb_id,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,profitable,original_title_charnum,overview_wordnum,genres_str,director_str,cast_str,production_companies_str,release_month,release_season
director,,,,,,,,,,,,,,,,,,,,,,,
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Steven Soderbergh,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Clint Eastwood,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Shawn Levy,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Adam Shankman,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
John Luessenhop,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
John Musker,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
John Polson,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Callan Brunker,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Xavier Palud,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] = 'Four By Two Productions'


### A lot of grabage code below, to show which ways I went before coming to the solution (in the very end of the cell)

"""
data["studio_Universal"] = data.production_companies.apply(lambda x: "Universal" in x)
data["studio_Warner_Bros"] = data.production_companies.apply(lambda x: "Warner Bros" in x)
data["studio_Jim Henson Company, The"] = data.production_companies.apply(lambda x: "Jim Henson Company, The" in x)
data["studio_Paramount Pictures"] = data.production_companies.apply(lambda x: "Paramount Pictures" in x)
data["studio_Four By Two Productions"] = data.production_companies.apply(lambda x: "Four By Two Productions" in x)

data.groupby("studio_Universal")[["original_title_charnum"]].mean() ## 14.762162
data.groupby("studio_Warner_Bros")[["original_title_charnum"]].mean() ## 15.251366
data.groupby("studio_Jim Henson Company, The")[["original_title_charnum"]].mean() ## 59.000000
data.groupby("studio_Paramount Pictures")[["original_title_charnum"]].mean() ## 17.032787
data.groupby(["studio_Four By Two Productions","original_title"])[["original_title_charnum"]].mean() ## 83.000000
"""

"""
# Dictionary of studios
studios = {
    studio: {}
    for line in list(data.production_companies)
    for studio in line.split("|")
}

# Calculating average number of characters in movies titles by studios
for studio, studio_data in studios.items():
    studio_data["movie_name_mean_length"] = data[data.production_companies.str.contains(studio)].original_title_charnum.mean()

# Showing our dictionary sorted
{studio: studios[studio]["movie_name_mean_length"] for studio in sorted(studios.keys(), key=lambda x: studios[x]["movie_name_mean_length"])}

#studios = {k: studios[k] for k in sorted(studios.keys())[:500]}

# studios["Four By Two Productions"]
"""

"""
# Dictionary of studios
studios = {
    studio: 0
    for line in list(data.production_companies)
    for studio in line.split("|")
}

# Calculating average number of characters in movies titles by studios
for studio in studios.keys():
    studios[studio] = data[data.production_companies.str.contains(studio)].original_title_charnum.mean()

import operator
max(studios.items(), key=operator.itemgetter(1))[0]

"""


data.explode("production_companies").groupby("production_companies").mean().sort_values(by="original_title_charnum", ascending=False)["original_title_charnum"]

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: original_title_charnum, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [41]:
answers['25'] = 'Midnight Picture Show'

### Solution 1
# Dictionary of studios
studios = {
    studio: {}
    for line in list(data.production_companies_str)
    for studio in line.split("|")
}
# Calculating average number of words in movies overviews by studios
for studio in studios.keys():
    studios[studio] = data[data.production_companies_str.str.contains(studio)].overview_wordnum.mean()

import operator
max(studios.items(), key=operator.itemgetter(1))[0]


### Solution 2
data.explode("production_companies").groupby("production_companies").mean().sort_values(by="overview_wordnum", ascending=False)["overview_wordnum"]

production_companies
Midnight Picture Show                    175.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
Henceforth                                13.0
Our Stories Films                         13.0
London Boulevard                          13.0
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Name: overview_wordnum, Length: 1771, dtype: float64


# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# Solution 1
data.sort_values(by="vote_average", ascending=False).head(int(len(data)*(1/100))).original_title

# Solution 2, showing only the movies from the options given
data.sort_values(by="vote_average", ascending=False).head(int(len(data)*(1/100))).query('original_title.isin(["Inside Out", "The Dark Knight", "12 Years a Slave", "BloodRayne", "The Adventures of Rocky & Bullwinkle", "Batman Begins", "The Lord of the Rings: The Return of the King", "Upside Down", "300", "Lucky Number Slevin", "Kill Bill: Vol. 1", "Upside Down", "Inside Out", "Iron Man"])', engine="python").original_title

599                                   The Dark Knight
9                                          Inside Out
1191                                 12 Years a Slave
1081    The Lord of the Rings: The Return of the King
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'


# Solution 1. Hacking the system and just checking each of the pairs separately
print(data[data.cast_str.str.contains("Johnny Depp")&data.cast_str.str.contains("Helena Bonham Carter")].imdb_id.count())
print(data[data.cast_str.str.contains("Ben Stiller")&data.cast_str.str.contains("Owen Wilson")].imdb_id.count())
print(data[data.cast_str.str.contains("Vin Diesel")&data.cast_str.str.contains("Paul Walker")].imdb_id.count())
print(data[data.cast_str.str.contains("Adam Sandler")&data.cast_str.str.contains("Kevin James")].imdb_id.count())
print(data[data.cast_str.str.contains("Daniel Radcliffe")&data.cast_str.str.contains("Rupert Grint")].imdb_id.count())

6
6
5
5
8

actors_pairs
Daniel Radcliffe & Emma Watson        8
Daniel Radcliffe & Rupert Grint       8
Rupert Grint & Emma Watson            7
Johnny Depp & Helena Bonham Carter    6
Ben Stiller & Owen Wilson             6
                                     ..
Giovanni Ribisi & Billy Crudup        1
Giovanni Ribisi & Delroy Lindo        1
Giovanni Ribisi & Gary Dourdan        1
Giovanni Ribisi & Greg Kinnear        1
Zuleikha Robinson & Omar Sharif       1
Name: imdb_id, Length: 18119, dtype: int64

ВАРИАНТ 2

In [42]:
# Solution 2

# Didn't put the funtion to the header as this is the only place I need it
def create_list_of_pairs(inlist):
    outlist = []
    for item in inlist:
        for item2 in inlist:
            if (item+" & "+item2 in outlist) or (item2+" & "+item in outlist) or item==item2:
                continue
            else:
                outlist.append(item+" & "+item2)
    return outlist

data["actors_pairs"] = data.cast.apply(create_list_of_pairs)
data.explode("actors_pairs").groupby("actors_pairs").count().sort_values(by="imdb_id", ascending=False).imdb_id

actors_pairs
Daniel Radcliffe & Emma Watson        8
Daniel Radcliffe & Rupert Grint       8
Rupert Grint & Emma Watson            7
Johnny Depp & Helena Bonham Carter    6
Ben Stiller & Owen Wilson             6
                                     ..
Giovanni Ribisi & Billy Crudup        1
Giovanni Ribisi & Delroy Lindo        1
Giovanni Ribisi & Gary Dourdan        1
Giovanni Ribisi & Greg Kinnear        1
Zuleikha Robinson & Omar Sharif       1
Name: imdb_id, Length: 18119, dtype: int64

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27